<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="L2JChat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <L2JChat.Properties.Settings>
            <setting name="savedServerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="savedServerPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="savedServerPort" serializeAs="String">
                <value />
            </setting>
            <setting name="savedUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="savedPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="autoLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoConnect" serializeAs="String">
                <value>False</value>
            </setting>
        </L2JChat.Properties.Settings>
    </userSettings>
</configuration>